<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797193336718-ngd0eq7coi01oocr8opsgbpt6t2qrjng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797193336718-ngd0eq7coi01oocr8opsgbpt6t2qrjng</string>
	<key>API_KEY</key>
	<string>AIzaSyAgUHutWHzFYFKqC89-F8tD2wNycwoi4fA</string>
	<key>GCM_SENDER_ID</key>
	<string>797193336718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spitHackathon</string>
	<key>PROJECT_ID</key>
	<string>spithackathon-dd1f3</string>
	<key>STORAGE_BUCKET</key>
	<string>spithackathon-dd1f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797193336718:ios:c7b6ef8f9bba6b2ea716df</string>
</dict>
</plist>